* {
	margin: 0;
	padding: 0;
}

#header {
	display: flex;
}

h1 {
	display: flex;
	margin-left: 32.5%;

	margin-top: 5%;
	background-color: black;
	color: red;
	text-align: center;
}

.color1 {
	background-color: red;
	width: 50px;
	height: 50px;
}

.color2 {
	background-color: black;
	width: 50px;
	height: 50px;
}

td,
tr {
	margin: 0px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: 30%;
	margin-top: 50px;
}
